<footer class="f-footer">
        <div class="f-info">
                <div class="f-info-socials">
                        <a href="https://www.facebook.com/"><i class="fab fa-facebook"></i></a>
                        <a href="https://www.instagram.com/"><i class="fab fa-instagram"></i></a>
                        <a href="https://www.linkedin.com/"><i class="fab fa-linkedin"></i></a>
                        <a href="https://www.twitter.com/"><i class="fab fa-twitter"></i></a>
                </div>
                <div>
                        Wanderlust Pvt. Ltd. &#169;
                </div>
                <div class="f-info-links">
                        <a href="" target="_main">Privacy</a>      
                        <a href="" target="_main">Terms</a>  
                        <a href="" target="_main">About Us</a>
                        <a href="" target="_main">Contact Us</a>
                </div>
        </div>
</footer>