<footer>
  <a class="navbar-brand" href="/">
    <i class="fa-solid fa-compass fa-spin" style="color: #ffb7ab"></i>
  </a>
  <div class="socials">
    <a class="fa-brands fa-facebook"></a>
    <a class="fa-brands fa-instagram"></a>
    <a class="fa-brands fa-twitter"></a>
    <a class="fa-brands fa-pinterest"></a>
    <a class="fa-brands fa-tiktok"></a>
    <a class="fa-brands fa-youtube"></a>
    <a class="fa-brands fa-snapchat"></a>
    <a class="fa-brands fa-linkedin"></a>
    <a class="fa-brands fa-reddit"></a>
    <a class="fa-brands fa-telegram"></a>
    <a class="fa-brands fa-github"></a>
    
  </div>
  <div class="links">
    <ul>
      <li>
        <h2>Support</h2>
      </li>
      <li><a>Help Centre</a></li>
      <li><a>WanderCover</a></li>
      <li><a>Anti-discrimination</a></li>
      <li><a>Disability support</a></li>
      <li><a>Cancellation options</a></li>
      <li><a>Report neighbourhood concern</a></li>
    </ul>
    <ul>
      <li>
        <h2>Hosting</h2>
      </li>
      <li><a>Wanderlust your home</a></li>
      <li><a>Wanderlust for Hosts</a></li>
      <li><a>Hosting resources</a></li>
      <li><a>Community forum</a></li>
      <li><a>Hosting responsibly</a></li>
      <li><a>Join a free Hosting class</a></li>
      <li><a>Find a co-host</a></li>
    </ul>
    <ul>
      <li>
        <h2>Wanderlust</h2>
      </li>
      <li><a>Newsroom</a></li>
      <li><a>New features</a></li>
      <li><a>Careers</a></li>
      <li><a>Investors</a></li>
      <li><a>Wanderlust.org emergency stays</a></li>
    </ul>
    <ul>
      <li>
        <h2>Wanderlust, Inc.</h2>
      </li>
      <li>
        <address>
          © 2025 Wanderlust, Inc.<br />
          Privacy · Terms · Sitemap · Company details
        </address>
      </li>
    </ul>
  </div>
</footer>
