<% layout("/layouts/boilerplate") %>

<div class="row error-row">
        <div class="alert alert-danger col-6 offset-3" role="alert">
                <h5>SOMETHING WAS WRONG! PLEASE REVIEW THIS ERROR's</h5>
                <h6><%= message %></h6>
               <br>
        </div>
</div>
