/* body{
        background-color: rgb(188, 144, 230);
} */

.navbar {
  height: 70px;
  background-color: white;
}
.fa-compass {
  color: rgb(255, 99, 71);
  font-size: 30px;
}

.f-footer {
  border: 1px solid rgba(217, 4, 4, 0);
  height: 800px;
}

@media (max-width:769px) {
  .f-footer {
    border: 1px solid rgba(217, 4, 4, 0);
    height: 1400px;
  }
}

@media (max-width:576px) {
  .f-footer {
    border: 1px solid rgba(217, 4, 4, 0);
    height: 1860px;
  }
}

.f-info-outer {
  height: 90px;
  width: 100%;
  border: 1px solid rgba(0, 0, 0, 0);
  display: flex;
  justify-content: center;
}

.f-info {
  height: 90px;
  width: 300px;
  border: 1px solid rgba(0, 0, 0, 0);
  /* display: grid; */
  justify-content: center;
  text-align: center;
}

/* FOOTER LINKS S */
.footer-outer {
  height: 300px;
  width: 100%;
  border: 1px solid rgba(0, 0, 0, 0);
  display: flex;
  justify-content: center;
}

.footer {
  border: 1px solid rgba(0, 0, 0, 0);
  width: 80%;
  display: flex;
}

.footer-column {
  flex: 1;
  min-width: 200px;
}

.footer-column h3 {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 10px;
}

.footer-column ul {
  list-style: none;
  padding: 0;
}

.footer-column ul li {
  margin-bottom: 8px;
}

.footer-column ul li a {
  text-decoration: none;
  color: #222;
  font-size: 14px;
}

.footer-column ul li a:hover {
  text-decoration: underline;
}

@media (max-width: 768px) {
  .footer {
    flex-direction: column;
    text-align: left;
  }
}

/* FOOTER LINKS E */

.fab {
  color: black;
}

.f-info-links a {
  color: rgb(59, 59, 59);
  text-decoration: none;
}
.f-info-links a:hover {
  color: black;
  text-decoration: underline;
}

.f-info-links{
  width: 350px;
  border:1px solid rgba(0, 0, 0, 0);
  margin: 0px 0px 0px -30px;
}

/* INDEX.ejs > FILTERS DIV */

.filters {
  margin: 1rem 0rem 0rem 0rem;
  display: flex;
  flex-wrap: wrap;
}

.filter-a {
  display: flex;
  overflow-x: scroll;
  width: 750px;
  scrollbar-width: 10px;
  user-select: none;
  border:  0px 3px 0px 3px solid rgb(140, 84, 84) ;
}

@media (max-width: 1200px) {
  .filter-a {
    width: 900px;
  }
}

.filter-a::-webkit-scrollbar {
  height: 7px;
  border-radius: 8px;
  background-color: #e7e7e7;
  border: 1px solid #cacaca;
  margin: -10px 0px 0px 0px ;
}


.filter-a::-webkit-scrollbar-thumb {
  border-radius: 8px;
  background-color: #4b4b4b;
}

.filter {
  display: grid;
  justify-content: center;
  height: 68px;
  width: auto;
  margin: 0px 23px;
  padding: 5px 0px 0px 0px;
  transition: all 0.2s ease-in-out;
  border-radius: 10px;
  text-align: center;
  opacity: 0.7;
}
.filter:hover {
  cursor: pointer;
  opacity: 1;
}
.filter p {
  font-size: 13px;
}

.active-filter {
  background-color: #56a8ff57; /* Change background color */
  color: white; /* Change text color */
  border-radius: 10px;
  padding: 5px;
}

.filter-close{
  background-color: #ff9f55; /* Change background color */
  border-radius: 10px;
  height: fit-content;
  width: 30px;
  padding: 3px;
  margin-top: 10px;
  cursor: pointer;
  text-align: center;
  display: none;
}



.fixed-arow {
  height: 60px;
  width: 20px;
  background-color: #c5c5c500;
  border: 1px solid rgba(122, 122, 122, 0);
  text-align: center;
  border-radius: 5px;
  padding-right: 5px;

}

.fixed-arow-a {
  margin: 15px 0px 0px 0px;
}

/* TAX SWITCH CSS */
.tax-toggle {
  height: 60px;
  width: 250px;
  border: 3px solid rgba(134, 134, 134, 0.563);
  border-radius: 10px;
  padding: 0px 20px 0px 0px;
  margin: 0px 0px 0px 30px;
}
.form-switch {
  margin: 15px 0px 0px 0px;
}
.form-check-input:hover {
  cursor: pointer;
}

.taxinfo {
  display: none;
}

/* ----------------------------------- */

/* NEV BAR SEARCH BAR S */
/* From Uiverse.io by OnCloud125252 */
.inputBox_container {
  display: flex;
  align-items: center;
  height: 50px;
  width: 200px;
  background-color: #888a8e;
  border-radius: 0.8em;
  overflow: hidden;
  margin: 5px 0px 0px 20px;
}

@media (max-width: 1400px) {
  .inputBox_container {
    width: 500px;
  }
}
@media (max-width: 992px) {
  .inputBox_container {
    width: 400px;
  }
  .form-check-label{
    display: none;
  }
  .tax-toggle{
    border: 3px solid rgba(255, 255, 255, 0.619);
    width: 50px;
  }
}

@media (max-width: 992px) {
  .inputBox_container {
    width: 300px;
  }
}


.search_icon {
  height: 1em;
  padding: 0 0.5em 0 0.8em;
  fill: #abb2bf;
}
.search_icon:hover {
  cursor: pointer;
}

.inputBox {
  background-color: transparent;
  color: #ffffff;
  outline: none;
  width: 100%;
  height: 100%;
  border: 0;
  margin: 15px 0px 0px 5px;
  font-size: 1em;
}

::placeholder {
  color: #dddddd;
}

/* NEV BAR SEARCH BAR E */

/* CARDS OF INDEX PAGE */

.explore-page-title-ALL-LOCATION{
    margin: 0px 0px 0px 10px;
}

.card {
  padding: 15px;
  border: none !important;
  margin: 5px 5px 15px 5px;

  transition: background-color 0.3s ease;
}
.card:hover {
  /* background-color: rgb(198, 198, 198) !important; */
  background-color: rgb(223, 223, 223) !important;
}

.card-text {
  font-size: 15px;
}

.card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}
.card-body h6,
a {
  color: rgb(65, 65, 65);
}

.card .btn {
  width: 100px;
  background-color: #ffaea0;
  border: 0px;
}

.card .btn:hover {
  background-color: #ff6347;
  color: white;
}

.more-info-btn{
  margin-left: -20px;
}

/* ------------
------------------ */

      /* From Uiverse.io by reshades */ 
.button {
  background-color: #ffffff00;
  color: #fff;
  width: 8em;
  height: 2.5em;
  border: #ff634798 0.2em solid;
  margin-left: -20px;
  border-radius: 11px;
  text-align: right;
  transition: all 0.6s ease;
}

.button:hover {
  background-color: #ff634798;
  cursor: pointer;
}

.button svg {
  width: 1.6em;
  margin: -0.2em 0.8em 1em;
  position: absolute;
  display: flex;
  transition: all 0.6s ease;
  color: #ff634798;
}

.button:hover svg {
  transform: translateX(30px);
  color: #ffffff;
}

.text {
  margin: 0 1.5em;
  color: #ff634798;
  transition: all 0.6s ease;
}

.button:hover .text {
  color: #ffffff00;
}

/* ------------------
------------ */

/* SHOW PAGE STYLING */
/* .show-body{

} */

.show-container {
  height: fit-content;
  width: 100%;
  border: 1px solid rgba(0, 0, 0, 0);
  display: grid;
  justify-content: center;
}

.show-container-inner {
  height: fit-content;
  width: fit-content;
  border: 1px solid rgba(255, 0, 0, 0);
}

.show-all-text {
  color: rgb(0, 0, 0);
  padding: 0px 20px 0px 20px;
}

.show-img-container {
  height: 300px;
  width: 100%;
  border: 1px solid rgba(214, 38, 38, 0);
  border-radius: 20px;
  background-size: cover;
}

.show-img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  border-radius: 20px;
}

.show-e-btn-a {
  display: inline-block;
  padding: 0px 10px 40px 20px;
}
.show-e-btn-a-btn {
  display: inline-block;
}
.show-d-btn-a {
  display: inline-block;
}

/* NEW FORM STYLING*/

.container {
  max-width: 400px;
  height:  fit-content ! important;
  margin: 0 auto;
  padding: 20px;
}

.n-f-h1 {
  text-align: center;
  margin-bottom: 20px;
}

.new-listing-form {
  background-color: #fff;
  padding: 20px;
  border-radius: 4px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-group {
  margin-bottom: 1em;
}

.form-group:last-of-type {
  margin-bottom: 0;
}

.form-group::after {
  content: "";
  display: table;
  clear: both;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  color: #555;
}

input[type="text"],
input[type="number"],
.new-form-t-area {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 16px;
  box-sizing: border-box;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.new-form-t-area {
  resize: vertical;
  min-height: 100px;
}

.new-form-s-btn {
  width: 20%;
  padding: 10px;
  font-size: 16px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.new-form-s-btn:hover {
  background-color: #3898ff;
}

/* ERROR.EJS FILE CSS */

.error-row {
  height: 70vh;
  /* width: 60vw; */
  border: 3px solid rgba(255, 0, 0, 0);
}

/* REVIEW CSS SHOWING IN SHOW.EJS */
.review-ul {
  list-style: none;
}

.rating-num small {
  color: #fcd53f;
}

.card-div,
.card-body {
  background-color: #ededed;
  border-radius: 10px;
}

/* PROFILE PAGE  USER INFO */

.user-info-box {
  height: 500px;
  width: 100%;
  border: 1px solid rgba(207, 28, 28, 0);
  background-color: #ff33005e;
  border-radius: 10px;
}

@media (max-width: 1200px) {
  .user-info-box {
    width: 600px;
  }
}

.user-info {
  height: 200px;
  width: 100%;
  border: 1px solid rgba(1, 52, 255, 0);
  display: flex;
}



.user-info-txt {
  height: 180px;
  width: 400px;
  border: 1px solid rgba(1, 52, 255, 0);
  /* border-radius: 50%; */
  margin: 10px 0px 0px 10px;
}

.user-info-txt h4,a {
  margin: 15px 0px 0px 20px;
}
.user-info-txt p {
  margin: 10px 0px 0px 20px;
}
.user-info-txt button {
  margin: 10px 0px 0px 20px;
}
/* -------------------------------------------------------------
----------------------------------------------------------
------------------------------------------------------ */

.user-info-x{
  height: auto;
  width: 100%;
  border: 1px solid rgba(207, 28, 28, 0);
  background-color: #ffa600;
  border-radius: 10px;
}

.user-info-x-1-title{
  color: white;
  margin: 20px 0px 0px 40px;
}

.user-info-x-1-main{
  height: 260px;
  width: 100%;
  border: 1PX solid rgba(255, 0, 0, 0);
  display: flex;
  color: white;
}
.user-info-x-1-main-L{
  height: 200px;
  width: 50%;
  border: 1PX solid rgba(255, 0, 0, 0);
  display: flex;
}
.user-info-img {
  height: 200px;
  width: auto;
  border: 1px solid rgba(107, 244, 9, 0);
  /* border-radius: 50%; */
  margin: 10px 0px 0px 10px;
  display: grid;
  text-align: center;
}

.user-info-img img{ 
  height: 200px;
  width: 200px;
  border-radius: 50%;
  border: 10px solid white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin: 0px 0px 0px 20px;
}

.user-info-x-1-main-L h2{
  margin: 75px 0px 0px -80px;
}
.user-info-x-1-main-R{
  height: 200px;
  width: 50%;
  border: 1PX solid rgba(255, 0, 0, 0);
  padding: 0px 0px 0px 20px;
}
.user-info-x-1-main-R-m{
  font-size: 25px;
  height: 40px;
  width: fit-content;
  border: 1px solid rgba(255, 0, 0, 0);
  margin: 30px 0px 0px 0px;
}

@media (max-width : 992px) {
  .user-info-x-1-main{
    display: grid;
    height: fit-content;
  }
  .user-info-x-1-main-L{
    width: 100%;
  }
  .user-info-x-1-main-R{
    width: 100%;
  }
}

@media (max-width : 576px) {
  .user-info-x-1-main-L{
    height: 140px;
  }
  .user-info-img svg{
    height: 100px;
    margin: 35px 0px 0px -30px;
  }
  .user-info-img h2{
    font-size: 20px;
    margin: 70px 0px 0px -20px;
  }
  .user-info-x-1-main-R-maill{
    font-size: 17px;
  }
  .user-info-x-1-main-R-m:nth-child(2){
    margin: -0px 0px 0px 0px;
  }
}

/* ----------------------------------------------------- */

.user-info-x-2{
  height: auto;
  width: 100%;
  border: 1px solid rgba(207, 28, 28, 0);
  background-color: #ff590000;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  padding: 0px 0px 0px 20px;
}

 .user-info-x-2-title{
  color: white;
  margin: 20px 0px 0px 20px;
}

.user-list{
  height: auto;
  width: 100%;
  border: 1px solid rgba(207, 28, 28, 0);
  background-color: #ff590000;
  border-radius: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0px 0px 0px 20px;
}

.user-card{
  height: 150px;
  width: 96%;
  border: 1px solid rgba(255, 0, 0, 0);
  box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.5);
  justify-content: center;
  margin: 0px 0px 0px 0px;
  padding: 30px 10px 10px 10px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}





.profile-photo-nev{
  height: 35px;
  width: 35px;
  border-radius: 50%;
}


.profile-photo-svgg{
  margin:0px 0px 0px 0px ;
}

.profile-photo-svgg-alingment-box{
  height: 180px;
  width: 35px;
  background-color: #ff190000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.all-user-indiviual-card{
  height: 190px;
}

/* SHOW PAGE MAP CSS */
#map {
 height: 250px;
 width: 100%;
}
.nav-tabs .nav-link {
  color: #6c757d;
}
.nav-tabs .nav-link.active {
  font-weight: bold;
  border-bottom: 2px solid black;
}
.destination-title {
  font-weight: bold;
}
.text-muted:hover{
    color: #007bff;
}
.Destinations-Grid{
    margin: 0px 0px 0px 0px;
}
.Destinations-Grid-item:hover{
    background-color: rgb(223, 223, 223) !important;
  transition: all 0.3s ease-in-out;
  border-radius: 10px;
}
.Destinations-Grid-item .text-muted:hover{
  cursor: pointer;
}

/* .user-card-header svg{
  display: inline-block;
} */

/* From Uiverse.io by reglobby */ 
.user-profile {
  width: 131px;
  height: 51px;
  border-radius: 15px;
  cursor: pointer;
  transition: 0.3s ease;
  background: linear-gradient(
    to bottom right,
    #2e8eff 0%,
    rgba(46, 142, 255, 0) 30%
  );
  background-color: rgba(46, 142, 255, 0.2);
  display: flex;
  align-items: center;
  justify-content: center;
}

.user-profile:hover,
.user-profile:focus {
  background-color: rgba(46, 142, 255, 0.7);
  box-shadow: 0 0 10px rgba(46, 142, 255, 0.5);
  outline: none;
}

.user-profile-inner {
  width: 127px;
  height: 47px;
  border-radius: 13px;
  background-color: #1a1a1a;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  color: #fff;
  font-weight: 600;
}

.user-profile-inner svg {
  width: 27px;
  height: 27px;
  fill: #fff;
}


/* .profile-photo{
  background-color: black;
  height: 500px;
  width: 500px;
} */