<% layout("/layouts/boilerplate") %>



<div class="row mt-3">
        <div class="col-6 offset-3">
                <h4>Enter your mail to reset your password!</h4>
                <br>
                <form action="/forgot" method="post"  class="needs-validation" novalidate>
                        <br>
                        <div class="mb-3">
                                <label for="email" class="form-label">Email</label>
                                <input type="email" class="form-control" name="email" id="email" required>
                        </div>
                        <br>
                        <button class="btn btn-success">SignUp</button>
                </form>
                <br><br><br><br><br><br><br><br><br>
        </div>
</div>